* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* Base de 10px = 1rem = 10px */
}

body{
    font-family: "Poppins", sans-serif;
}

/* INÍCIO DO HEADER */

.cabecalho {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: rgb(244, 165, 165);
    padding: 1.5rem 3rem;

    & .logo-home{
        display: flex;
        width: 24vh;
    }

    & .opcoes{
        display: flex;
        justify-content: center;
        gap: 1.8rem;
        flex-direction: row;
        list-style: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
    }

    
.search{
    display: flex;
    justify-content: end;
    
    & input{
        border: none;
        padding: .7rem;
        outline: none;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 1.2rem;
    }

    & button{
        background-color: #fff;
        border: none;
        padding: .5rem;
        cursor: pointer;
        border-left: 1px solid #ccc;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px; 
    }

    & .perfil{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
        color: #fff;
        margin-left: 12px;
    }
}
}

/* FINAL DO HEADER */


.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem;

    & .objetivo{
        text-transform: uppercase;
    }
}