.logo{
    width: 7rem !important;
}

.custom-text {
    width: 70% !important;
    font-weight: bold;
}

.bg-custom {
    position: relative;
    background-image: url('/images/home/fundo1.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o contêiner */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    width: 100%;
    height: 100%;
}

.bg-quiz{
    position: relative;
    background-image: url('/images/quizzes/quizz-home.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o contêiner */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    width: 100%;
    height: 100%;
}

.bg-quiz::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: 1;
}

.bg-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: 1;
}

.bg-custom2 {
    position: relative;
    background-image: url('/images/home/img-noticias.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir todo o contêiner */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    width: 100%;
    height: 100%;
}

.bg-custom2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Ajuste a opacidade conforme necessário */
    z-index: 1;
}

.bg-footer{
    background-color: #0000FF !important;
}

.custom-text, .btn {
    position: relative;
    z-index: 2;
}

.circuito{
    width: 70% !important;
    font-weight: bold;
}
